<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>rest in pillows</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/riplogo" rel="image">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/home/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cart.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- addon template -->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.png"/> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/cssaddon/util.css">
    <link rel="stylesheet" type="text/css" href="/cssaddon/main.css">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->

    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">

        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start text-white">
                <small>
                    <i class="fa fa-map-marker-alt me-2">

                    </i>
                    kozhikode,kerala
                </small>
                <small class="ms-4">
                    <i class="fa fa-envelope me-2">

                    </i>
                    restinpillows77@gmail.com
                </small>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">

            <!-- <div class="container-fluid fixed-top py-5 "> -->


            <a href="/" class="navbar-brand ms-3 ms-lg-0">
                <div class="d-flex m-0">
                    <img class="riplogo rounded align-items-top m-0" style="height: 6rem; width: 6rem;"
                        src="/img/riplogo.png">
                </div>

            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">All Products</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        
                    </div> -->
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/getshop" class="nav-item nav-link">Shop Now</a>
                    <a href="product.html" class="nav-item nav-link">Contact Us</a>
                </div>
                <% if (session) { %>
                    <div class="d-flex d-lg-flex ">
                        <button type="button"
                            class="d-flex align-items-center btn-sm-square bg-white rounded-circle ms-3"
                            style="border-radius: 4rem; border: #f5f7f8;" data-bs-toggle="modal"
                            data-bs-target="#searchModal">
                            <small class="fa fa-search text-body"></small></button>
                        <div class="nav-item dropdown d-flex">
                            <a class="btn-sm-square bg-white rounded-circle ms-3" data-bs-toggle="dropdown">
                                <small class="fa fa-user text-body"></small>
                            </a>
                            <div class="dropdown-menu  m-0" style="border:#05496C">
                                <a href="/orderDetails" class="nav-item nav-link">My Orders</a>
                                <a href="/profile" class="nav-item nav-link">My profile</a>
                                <a href="/logout" class="nav-item nav-link">Logout</a>

                            </div>
                        </div>
                        <a class="btn-sm-square bg-white rounded-circle ms-3" href="/viewcart">
                            <small class="fa fa-shopping-bag text-body"></small>
                        </a>
                    </div>
                    <% } else { %>


                        <div class=" d-lg-flex ms-2">
                            <button type="button"
                                class="d-flex align-items-center btn-sm-square bg-white rounded-circle ms-3"
                                style="border-radius: 4rem; border: #f5f7f8;" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                                <small class="fa fa-search text-body"></small></button>
                            <a class="btn-sm-square bg-white rounded-circle ms-3" href="/userlogin">
                                <small class="fa fa-user text-body"></small>
                            </a>

                        </div>
                        <% } %>
            </div>

        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form method="post" action="/dosearch">
                    <div class="modal-body d-flex align-items-center justify-content-center"
                        style="background-color:#05496C;">

                        <div class="input-group rounded ">

                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon" name="searchtext" />
                            <button type="submit" style="background-color:#f5f7f8;border: #05496C;"><span
                                    class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i></button>
                            </span>

                        </div>



                    </div>
                </form>

            </div>
        </div>
    </div>