<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous">
  </script>
</head>

<body style="background-image:url(/img/homebg.jpg);background-repeat: no-repeat; background-size: cover;">
  <!-- Section: Design Block -->
  <section class="text-center text-lg-start mt-5">

    <!-- Jumbotron -->
    <div class="container align-items-center justify-content-center ">
      <div class="row g-0 align-items-center justify-content-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right " style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(4px); border-radius:70px;
              ">
            <div class="card-body p-5 shadow-5 text-center justify-content-center align-items-center">
              <div class="d-flex m-0">
                <img class="riplogo rounded align-items-top m-0" style="height: 6rem; width: 6rem;"
                  src="/img/riplogo.png">
              </div>
              <h2 class="fw-bold mb-5 " style="color: #05496C;">Login</h2>


              <form method="post" action="/userlogin" id="formlogin" onsubmit="return loginsubmitform(event)">
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <div class="form-outline mb-4">
                  <input type="email" id="emailLogin" class="form-control" name="email" placeholder=""
                    style="border-radius: 18px;" />
                  <label class="form-label" for="emailLogin">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="passwordLogin" class="form-control" name="password" placeholder=""
                    style="border-radius: 18px;" />
                  <label class="form-label" for="passwordLogin">Password</label>
                </div>



                <div id="errorLogin"></div>

                <!-- Submit button -->
                <button type="submit" class="btn text-white mt-1 mb-4"
                  style="background-color: #05496C;border-radius: 10px;">
                  Login
                </button>
              </form>

              <div>
                <small style="color: #05496C;"><a type="button"
                    class="forgotpass forgotpass-info  text-decoration-none " href="/forgotpassword">Forgot
                    password.</a></small>
              </div>
              <div>
                <small style="color: #05496C;"><a class="forgotpass forgotpass-info  text-decoration-none"
                    href="/signup">Need a account.</a></small>
              </div>

              <div class="alert text-danger " id="alertmsglogin" role="alert">
                <%= msg%>
              </div>

              


            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- Jumbotron -->
  </section>




  <!-- Section: Design Block -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

  <script>

    setTimeout(() => {
      document.getElementById('alertmsglogin').innerHTML = `<div></div>`
    }, 5000);


  </script>


  <!-- validation   -->
  <script>

    const formLogin = document.querySelector('#formlogin')
    const usernameLogin = formLogin .querySelector('#emailLogin')
    const passwordLogin = formLogin .querySelector('#passwordLogin')
    const errorElementLogin = formLogin .querySelector('#errorLogin')


    function hideErrorMessage() {
      errorElementLogin.innerHTML = "";
    }

    function showErrorMessageLogin(message) {
      errorElementLogin.innerHTML = `<div class="alert text-danger  " role="alert">${message}</div>`
      setTimeout(() => {
        errorElementLogin.innerHTML = `<div></div>`
      }, 5000);

    }

    function loginsubmitform(e) {

      if (usernameLogin.value === "") {

        showErrorMessageLogin("Email is Required");
        return false;
      }

      if (passwordLogin.value === "") {

        showErrorMessageLogin("Password is Required");
        return false;
      }


      hideErrorMessage()
      return true;

    }


  </script>
  <%- include ('../users/layout/script.ejs') %>

</body>


</html>