<%- include ('../users/layout/header.ejs') %>
<div style="height: 10rem; width: 100%;"></div>

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    
                    <h1 class="mt-4" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">THANKS FOR YOUR ORDER</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div  class=" mt-100  d-flex justify-content-center">
    <p  class="text-success mt-4" style="font-size:30px;" >Your Order has been placed</p>
</div>
<div style="height: 6rem; width: 100%;"></div>

<div class="mt-1  mb-100 d-flex justify-content-center">
    <a class="btn btn-secondary" href="/orderDetails">view Order</a>

</div>











<%- include ('../users/layout/script.ejs') %>


